@import "tokens";

.container {
  z-index: 10;
}

.maxWidthWrapper {
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
  margin: 0 auto;
}

.logo {
  height: 4rem;
  padding-block: 20px;
  fill: white;
}

.signInButton {
  background: $primary-color;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  &:hover {
    background: $primary-lighter;
  }
  &:active {
    background: $primary-darker;
  }
  border-radius: 3px;
  cursor: pointer;
}

.navItems {
  color: hsl(0, 0%, 80%);
  font-weight: 500;
  font-size: 0.95rem;
  list-style: none;
  padding-inline: 1rem;
  a {
    padding-inline: 1rem;
    &:hover {
      color: white;
      text-decoration: underline $primary-color 2px;
    }
  }
}

.navLeft {
  display: flex;
  align-items: center;
}
